<%- include('./shared/head', {pageTitle: 'Mypage' }) %>
    <link rel="stylesheet" href="/css/forms.css">
    </head>

    <body>
        <%- include('./shared/header') %>
            <main>
                <h1>My Images</h1>
                <% if (images.length === 0) { %>
                    <p>You have no images uploded!</p>
                    <% } else {  %>
                <div>
                    <% images.forEach((image)=> { %>
                        <div>
                            <div>
                                <img
                                    src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" />
                                <div>
                                    <h5>
                                        <%= image.imgdiscription %>
                                    </h5>
                                    <p>
                                        <%= image.model %>
                                    </p>
                                    <p>
                                        <%= image.extranetwork %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        <% } %>
                </div>
            </main>
    </body>
    <% include('./shared/footer') %>